In [5]:
import numpy as np
import pandas as pd
import pytz as tz
from datetime import datetime
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score
from sklearn import preprocessing
from NumberClusterFinder import NumberClusterFinder
from DensityKmeans import DensityKmeans
from matplotlib import pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import csv

In [15]:
states = open(r"../dataset/gowalla/gowalla_spots_subset2.csv")
states = csv.reader(states)
states = pd.DataFrame(states, columns=('id', 'lat', 'lng', 'name', 'city_state', 'empty1', 'empty2'))
states = states[1:]
states

,id,lat,lng,name,city_state,empty1,empty2
1,9813,36.63150787,-121.9120216,Pacific Ocean,"Seaside, CA",,
2,11981,40.6901729,-74.04549122,Refreshment Park,"New York, NY",,
3,12455,36.64202212,-93.2849121,Mickey Gilley Theatre,"Branson, MO",,
4,12455,36.64202212,-93.2849121,Mickey Gilley Theatre,"Branson, MO",,
5,13810,42.54887938,-82.90276765,Jaword,"Clinton, MI",,
...,...,...,...,...,...,...,...
120993,7647034,37.26333565,-121.9684329,Dr. Victoria Dickerson,"San Jose, CA",,
120994,7654996,39.99157655,-76.66707645,Key West,"York, PA",,
120995,7657296,37.30614677,-121.8629479,California Monument Company,"San Jose, CA",,
120996,7657551,39.96286624,-76.72927736,Mudhook Brewing Co.,"York, PA",,
120997,7692984,37.34237864,-121.9282631,Jason Pintar,"San Jose, CA",,

In [17]:
frequency = pd.read_csv('sample_frequency.csv')

ValueError: You are trying to merge on object and float64 columns. If you wish to proceed you should use pd.concat

In [19]:
frequency['lat'] = frequency['lat'].astype(str)
frequency['lng'] = frequency['lng'].astype(str)
states['lat'] = states['lat'].astype(str)
states['lng'] = states['lng'].astype(str)

In [23]:
new_freq = pd.merge(frequency, states, left_on=['lat', 'lng'], right_on=['lat', 'lng'])
new_freq[new_freq['state'] != 'Texas']

Empty DataFrame
Columns: [Unnamed: 0, userid, placeid, frequency, id_x, created_at, lng, lat, photos_count, checkins_count, users_count, radius_meters, highlights_count, items_count, max_items_count, spot_categories, state, id_y, name, city_state, empty1, empty2]
Index: []

[0 rows x 22 columns]